<h1><%= t('.log_in') %></h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
<div class="field">
  <%= f.label  t('.e_mail') %>
  <%= f.email_field :email %>
</div>

<div class="field">
  <%= f.label  t('.password') %>
  <%= f.password_field :password %>
</div>

<div class="field">
  <%= f.submit  t('.login'), id: "create-session" %>
</div>
<% end %>
