<h1><%= t('.label_new') %></h1>

  <% if @label.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@label.errors.count, "error") %> prohibited this @label from being saved:</h2>

      <ul>
        <% @label.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_with(model: @label, local: true) do |f| %>

  <div class="form-group">
    <%= f.label t('labels.name') %>
    <%= f.text_field :name, class:"form-control"  %>
    </div>
  <div class="field">
    <%= f.submit t('.create_label'), id: "create-label", class: "btn btn-primary"  %>
  </div>
<% end %>