<h1>ユーザ登録ページ</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_with(url: admin_users_path, model: @user, local: true) do |f| %>
<div class="field">
  <%= f.label "name" %>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label "email" %>
  <%= f.email_field :email %>
</div>
<div class="field">
  <%= f.label "password" %>
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.label "password_confirmation" %>
  <%= f.password_field :password_confirmation %>
</div>
  <div class="field">
    <%= f.label "admin"  %>
    <%= f.check_box :admin %>
  </div>
<div class="field">
  <%= f.submit "create_user", id: "create-user" %>
</div>
<% end %>
