<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <% if  current_user && current_user.admin? %>
      <li><%= link_to t('.user_show'), admin_users_path,  id: "users-index" %></li>
      <li><%= link_to t('.user_edit'), new_admin_user_path,  id: "add-user" %></li>
    <% end %>

   <% if logged_in? %>
      <li><%= link_to t('.tasks-index'), tasks_path,  id: "tasks-index" %></li>
      <li><%= link_to t('.new-task'), new_task_path,  id: "new-task" %></li>

      <li><%= link_to t('.label_show'), labels_path,  id: "labels-index" %></li>
      <li><%= link_to t('.label_new'), new_label_path,  id: "new-label" %></li>
    
      <li><%= link_to t('.profile'), user_path(current_user.id), id: "account-setting" %></li>
      <li><%= link_to t('.logout'), session_path(current_user.id), method: :delete, id: "sign-out" %></li>
    <% else %>
      <li><%= link_to t('.sign_up'), new_user_path, id: "sign-up" %></li>
      <li><%= link_to t('.sign_in'), new_session_path, id: "sign-in" %></li>
    <% end %>
    
    <%= yield %>
  </body>
</html>
